.phone-features {
  border: 2px solid black;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 70px;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 30px;
  padding-bottom: 10px;
  border-color: rgb(46, 173, 196);
  background-color: rgb(236, 232, 232);
  position: relative;
  font-family: cursive;
}

.woofer {
  border: 1px solid black;
  height: 30px;
  width: 105%;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
  border: none;
}

.washable {
  border: 1px solid black;
  height: 30px;
  width: 105%;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
  border: none;
}

.wings {
  border: 1px solid black;
  height: 30px;
  width: 105%;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
  border: none;
}
.beveled {
  border: 1px solid black;
  height: 30px;
  width: 105%;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
  border: none;
}
.seedless {
  border: 1px solid black;
  height: 30px;
  width: 105%;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
  border: none;
}

.phone-features span {
  position: absolute;
  top: 25px;
  right: 15px;
  font-weight: 400;
}
